html {
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: font-family: 'Raleway', sans-serif;
  background-color: #2746C2;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #999999;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
h1 {
	margin: 0;
 	padding: 20px 0;    
  	color: #2746C2;
  	text-shadow: 3px 3px 1px black;
  	font-size: 60px;
  	text-align: center;
}
h2 {
	font-size: 30px;
	text-align: center;
}
p, li {
  	font-size: 16px;
  	font-  
  	line-height: 2;
  	letter-spacing: 1px;
  	text-align: center;
}
img{
	display: block;
	margin: 0 auto;
}